@define BACKGROUND_COLOR: #000000;
@define BACKGROUND_COLOR_WHITE: #FFFFFF28;

.RoundScoreboard
{
    horizontal-align: right;
}

#ScoreboardContainer
{
    horizontal-align: right;
    background-color: #0d1c22ff, gradient( radial, 100% -0%, 100px -40px, 320% 270%, from( #3a464bff ), color-stop( 0.23, #0d1c22ff ), to( #0d1c22ff ) );
    border: 5px solid #0d1c22ff;
    border-radius: 8px;
    margin-top: 200px;
    margin-right: 40px;
    padding: 10px;
    flow-children: down;
    visibility: collapse;
}

.Legend
{
    flow-children: right;
}

.Legend Label
{
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    font-size: 14px;
    color: #90999b;
}

#ScoreCol_PlayerInfo
{
    width: 150px;
}

#ScoreCol_Score
{
    width: 60px;
}

#PlayersContainer
{
    flow-children: down;
}

.PlayerRowContainer
{
    flow-children: right;
    height: 24px;
}

#Player
{
    width: 150px;
}

#Score
{
    width: 60px;
}

.ScoreboardPanel
{
    background-color: #0d1c22ff, gradient( radial, 100% -0%, 100px -40px, 320% 270%, from( #3a464bff ), color-stop( 0.23, #0d1c22ff ), to( #0d1c22ff ) );
    margin-top: 1px;
    margin-left: 1px;
}


